

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 24.5%;
    float: left;
    border: 1px solid red;
}
.float-child2 {
    width: 75.2%;
    float: right;
    border: 1px solid red;
}
#h {color: black; font-size: 200%;}
#omakuva {width: 10%; height: auto; border-radius: 50%; margin: 1%;}
