body {width: 90%; height: 90%; margin-left: auto; margin-right: auto; background-color: red;}
.header {background-color: grey; margin-top: 1.5%;}
.link {}
#omakuva {width: 10%; height: auto; border-radius: 50%; margin: 1%;}
. header p {color: black; font-size: 500%;}
